DISCORD_TOKEN=tu_token_aqui
CLIENT_ID=id_de_tu_bot
GUILD_ID=id_de_tu_servidor
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/botdb
LOG_CHANNEL=id_canal_logs
WEATHER_API_KEY=tu_api_key_openweather
